---
import { fade } from "astro:transitions";

interface Props {
	image: string;
	title: string;
	resume: string;
	time: string;
	slug: string;
	tags: string[];
}

const { image, title, resume, slug, } = Astro.props;
---

<article class="gap-3 group mb-3 p-3 rounded-lg min-h-[38dvh] max-w-[40rem] min-w-[20rem] overflow-hidden " >
	<a transition:animate={fade({ duration: '5s' })} href={`/posts/${slug}`}>
		<img
			alt={title}
			src={image}
			class="h-56 w-full rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
		/>

		<div class="pt-4">
			<h3 class="text-lg font-medium ">
				{title}
			</h3>
		</div>

		<p class="mt-2 line-clamp-3 text-sm/relaxed   pb-10">
			{resume}
		</p>
	</a>
</article>
